.CommentDiv {
  list-style-type: none;

  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid;
  border-color: hsl(220, 9%, 93%);

  flex-direction: column;
}
.CommentDiv_blockquote {
  margin: 0;
}
.CommentDiv_blockquote_H1 {
  list-style-type: none;

  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
.CommentDiv_blockquote_H1_personalDetail {
  list-style-type: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.CommentDiv_blockquote_H1_personalDetail_span {
  list-style-type: none;
  display: flex;
  border-radius: 50%;
  flex: 0 0 auto;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  color: hsl(173, 100%, 20%);
  background: hsl(174, 29%, 80%);
}
.CommentDiv_blockquote_H1_personalDetail_span_icon {
  width: 1.3em !important;
  height: 1.3em !important;
  fill: currentColor !important;
  vertical-align: text-bottom !important;
  font-size: 1.25rem !important;
  /* background-color: hsl(173, 100%, 20%) !important; */
}
.CommentDiv_blockquote_H1_personalDetail_detail {
  list-style-type: none;

  display: flex;
  margin-left: 1rem;
  flex-direction: column;
}
.CommentDiv_blockquote_H1_personalDetail_detail p {
  margin: 0;
  color: hsl(220, 9%, 39%);
  font-weight: 300;
  font-style: normal;
  line-height: 1.3846153846153846;
  font-size: 0.875rem;
}
.CommentDiv_blockquote_H1_personalDetail_detail_cite {
  margin: 0;
  color: hsl(218, 9%, 17%);
  
  font-weight: 500;
  font-style: normal;
  line-height: 1.3846153846153846;
  font-size: 0.875rem;
}
.CommentDiv_blockquote_H1_point {
  list-style-type: none;

  -webkit-box-align: center;

  align-items: center;

  flex-direction: column;

  display: inline-flex;
}
.CommentDiv_blockquote_H1_point_H1 {
  list-style-type: none;

  display: flex;

  -webkit-box-align: baseline;

  align-items: baseline;
}
.CommentDiv_blockquote_H1_point_H1_span1 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
  color: hsl(0, 0%, 0%);
}
.CommentDiv_blockquote_H1_point_H1_span2 {
  margin-left: 0.125rem;
  color: hsl(0, 0%, 0%);
  font-size: 0.625rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
}
.CommentDiv_blockquote_H2 {
  padding-top: 1rem;
}
.CommentDiv_blockquote_H2_comment {
  list-style-type: none;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 1.5rem;
}
.CommentDiv_blockquote_H2_comment_H1 {
  list-style-type: none;
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.CommentDiv_blockquote_H2_comment_H1 p {
  margin: 0;
  color: hsl(218, 9%, 17%);
  font-weight: 300;
  font-family: RalewayX, arial, sans-serif;
  font-style: normal;
  line-height: 1.3846153846153846;
  font-size: 0.875rem;
}
.CommentDiv_blockquote_H2_icon {
  list-style-type: none;
  display: flex;
  margin-top: 1rem;
  height: 20px;
}
.CommentDiv_blockquote_H2_icon_button1 {
  position: relative !important;
  border: 0 !important;
  text-transform: uppercase !important;
  cursor: pointer !important;
  -webkit-text-decoration: none !important;
  text-decoration: none !important;
  vertical-align: bottom !important;
  font-size: 0.8125rem !important;
  font-weight: 400 !important;
  font-style: normal !important;
  line-height: 1.3846153846153846 !important;
  box-shadow: none !important;

  background-color: transparent !important;
  padding: 0 0.25rem !important;

  height: unset !important;
  line-height: unset !important;

  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  text-align: left !important;
  border-radius: 2px !important ;
  color: hsl(174, 100%, 20%) !important ;
}
.CommentDiv_blockquote_H2_icon_button1:hover {
  border-bottom: 1.5px solid hsl(174, 100%, 20%) !important ;
}
.CommentDiv_blockquote_H2_icon_button1_icon {
  fill: currentColor !important;
  vertical-align: text-bottom !important;
  color: hsl(174, 100%, 20%) !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  margin-right: 0.5rem !important;
  width: 16px !important;
  height: 16px !important;
}
.CommentDiv_blockquote_H3 {
  list-style-type: none;

  display: flex;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  padding: 0.75rem;
  background-color: hsl(0, 0%, 100%);
  border-left-width: 2px;
  border-left-style: solid;
  border-color: hsl(220, 9%, 93%);
  border-radius: 0.25rem;
  flex-direction: column;
  align-items: flex-start;
}
.CommentDiv_blockquote_H3_header {
  list-style-type: none;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;

  -webkit-box-align: center;
  align-items: center;
}
.CommentDiv_blockquote_H3_header_div {
  list-style-type: none;
  display: flex;
  background-color: hsl(201, 61%, 89%);
  border: 1px solid;
  border-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  flex: 0 0 2rem;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}
.CommentDiv_blockquote_H3_header_div_icon {
  width: 16px !important;
  height: 16px !important;
  fill: currentColor !important;
  vertical-align: text-bottom !important;
  color: hsl(201, 100%, 30%) !important;
}
.CommentDiv_blockquote_H3_header_div_p {
  margin: 0;
  margin-bottom: 0.5125rem;
  margin-left: 0.75rem;
  color: hsl(218, 9%, 17%);
  font-weight: 400;
  font-style: normal;
  line-height: 1.3846153846153846;
  font-size: 0.875rem;
}
.CommentDiv_blockquote_H3_header_div_icon_span {
  color: hsl(220, 9%, 39%);
  font-weight: 300;
  font-style: normal;
  line-height: 1.3846153846153846;
  font-size: 0.875rem;
}
.CommentDiv_blockquote_H3_comment {
  padding-top: 1rem;
}
.CommentDiv_blockquote_H3_comment_div {
  margin: 0;
  color: hsl(218, 9%, 17%);
  font-weight: 300;
  font-style: normal;
  line-height: 1.3846153846153846;
  font-size: 0.875rem;
}
.CommentDiv_blockquote_H3_comment_div_p {
  margin: 0;
  color: hsl(218, 9%, 17%);
  font-weight: 300;
  font-style: normal;
  line-height: 1.3846153846153846;
  font-size: 0.875rem;
}
.CommentDiv_blockquote_H3_readmore_button {
  position: relative !important;
  border: 0px !important;
  text-transform: none !important;
  cursor: pointer !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  vertical-align: bottom !important;
  font-size: 0.8125rem !important;
  font-weight: 400 !important;
  font-style: normal !important;
  box-shadow: none !important;
  margin-left: 0.125rem !important;
  color: rgb(0, 102, 92) !important;
  background-color: transparent !important;
  padding: 0px 0.25rem !important;
  border-radius: 0px !important;
  height: unset !important;
  line-height: unset !important;
}
.CommentDiv_blockquote_H2_comment_listImage
{
  list-style-type: none;
  display: flex;
  background-color: hsl(220, 9%, 93%);
  border-radius: 0.25rem;
  overflow: hidden;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 8rem;
  height: 6.25rem;
  position: relative;
  cursor: pointer;
}
.CommentDiv_blockquote_H2_comment_listImage_text
{
  position: absolute;
  bottom: 0;
  height: 1.5rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.CommentDiv_blockquote_H2_comment_listImage_text_p
{
  color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 0.8125rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3846153846153846;
}