.container {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 328px;
}

.container:hover {
    cursor: pointer;
    animation: moveOut ease-in-out 0.2s forwards ;
    box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.12);
}

.card-icon {
    background-color: #F9FAFA;
    height: 124px;
    display: flex;
    align-items: center;
}  

.card-content__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.rating-point {
    color: #CF022B;
}

.address {
    font-size: 12px;
    color: #8C8D90;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon-wrapper {
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.visit-time {
    margin-bottom: 6px;
    margin-top: 24px;
}

.card-content {
    padding: 16px;
    min-height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-name {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-footer {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.quantity {
    margin-bottom: 0;
}

.update-time {
    margin-bottom: 0;
}

.private {
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-left: -3px;
}

.private__text {
    font-size: 12px;
    margin: 0;
    padding-left: 8px;
}

@keyframes moveOut {
    from {
        transform: translateX(0);
        transform: translateY(0);
    }
    to {
        transform: translateX(4px);
        transform: translateY(2px);
    }
}