.add-icon {
    display: flex;
    align-items: center;
}

.add-text {
    margin: 0;
    font-size: 16px;
    padding-left: 8px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 16px;
    gap: 12px;
}

.header {
    font-size: 24px;
    font-weight: 600;
}

.quantity {
    font-size: 16px;
}

.icon-wrapper {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.card-wrapper:hover {
    cursor: pointer;
    animation: moveOut ease-in-out 0.2s forwards ;
}

@keyframes moveOut {
    from {
        transform: translateX(0);
        transform: translateY(0);
    }
    to {
        transform: translateX(4px);
        transform: translateY(2px);
    }
}