.bookButton {
    transform: translateX(-50%) !important;
    border: 1px solid hsl(174, 100%, 20%) !important; /* Button border */
    color: black !important;
    display: inline-block  !important;
    border-radius: 8px  !important;
    cursor: pointer  !important;
    font-weight: bold  !important;
    width: 110px !important;

}

.bookButton:hover {
  background-color: hsla(0, 0%, 100%, 0.89) !important;
  color: black;
}
