.container {
    border: 1px solid #0068FF;
    border-radius: 12px;
    padding: 6px 12px;
    width: fit-content;
}

.logo {
    display: flex;
    align-items: center;
}

.pay {
    padding: 0 4px;
    color: #0068FF;
    margin-bottom: 0;
    margin-left: 8px;
}

.logo-img {
    width: 29px;
    height: 33px;
}