
.container {
    /* display: flex;
    width: 100%; */
}

.noti {
    display: flex;
    gap: 8px;
}
.dash_header {
    display: flex;
    align-items: center;
    margin-top: 12px;
    justify-content: space-between;
    background-color: #fff;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.dashboard-body {
    width: 100%;
    padding: 8px;
    background-color: #F3F2F7;
    border-radius: 10px;
}

.logo-name {
    margin: 0;
}

.logo {
    width: 48px;
}

.icon_wrap {
    padding: 11px 14px;
    border-radius: 16px;
    display: flex;
    align-items: center;
}

.icon_wrap:hover {
    cursor: pointer;
}

.icon-wrap--notification, .icon-wrap--message {
    background-color: #CDE3F9;
}

.icon-wrap--setting {
    background-color: #FFE1D5;
}

.line-title, .bar-title {
    margin-top: 8px;
    text-align: center;
    color: rgb(28,69,28);
}


.search-wrap {
    padding: 8px;
    flex: 1;
}

.statistic-wrap {
    padding: 8px;
}

.order-statistic {
    flex: 1;
    padding: 16px;
    background-color: white;
    border-radius: 12px;
    border: 1px solid rgb(28,69,28);
}

.chart-wrap {
    display: flex;
    justify-content: center;
    gap: 8px;

}

.comment-wrap {
    display: flex;
    overflow-x: auto;
    gap: 12px;
    width: 100%;
    white-space: nowrap;
    
}

.trending-wrap {
    display: flex;
    margin-top: 16px;
    gap: 16px;
    
}

.trending {
    background-color: white;
    border-radius: 12px;
    padding: 12px;
    border: 1px solid rgb(28,69,28);
}

.trending, .doughnut {
    flex: 1;
    
}

.doughnut-title {
    text-align: center;
    padding: 8px;
    color: rgb(28,69,28);
}

.doughnut {
    background-color: white;
    border-radius: 12px;
    border: 1px solid rgb(28,69,28);
}

