.NextButton {
  border: 0px !important;
  border-radius: 0.25rem !important;
  text-transform: uppercase !important;
  cursor: pointer !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  vertical-align: bottom !important;
  transition: background-color 62.5ms, box-shadow 62.5ms !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  font-family: RalewayX, arial, sans-serif !important;
  font-style: normal !important;
  padding: 0px 0.125rem !important;
  min-width: 3rem !important;
  height: 3rem !important;
  line-height: 3rem !important;
  color: rgb(39, 42, 47) !important ;
  background-color: rgb(255, 255, 255) !important;
  box-shadow: rgb(213, 216, 220) 0px 0px 0px 1px inset !important ;
  position: absolute !important;
  z-index: 1 !important;
  top: 50% !important;
  /* left: 1rem !important; */
  transform: translateY(-50%) !important;
}

.myspaninNextButton {
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  contain: paint !important;
}
.iConNextButton {
  vertical-align: middle;
  font-weight: 100;
}
.NextButton:hover {
  border: 1.2px solid #144d46 !important; /* Dark green */
}
