button.search-btn {
  border-radius: 0.5rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(174, 100%, 20%);
  box-shadow: none;
  font-style: normal;
  padding: 0.75rem 1.5rem;
  font-weight: 400;
  font-family: RalewayX, arial, sans-serif;
  transition: background-color ease 62.5ms, box-shadow ease 62.5ms;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  line-height: 1.375;
  border: 1px solid hsl(174, 100%, 20%);
}

button.search-btn:hover {
  background-color: #144d46;
}
