.listRestaurantDiv
{
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 80rem;
}
.listRestaurantDiv_H1
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
}
.listRestaurantDiv_H1_left
{
    margin-right: 0.5rem;
        padding-right: 1rem;
        width: 46rem;
}
.listRestaurantDiv_H1_left
{
    border-top: 1px;
    border-top-color: hsl(220, 9%, 93%);
    border-top-style:solid;
    margin-top: 16px;
}
.listRestaurantDiv_H1_left_sort
{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.listRestaurantDiv_H1_left_sort_div
{
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.listRestaurantDiv_H1_left_sort_div_div
{

    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;

    flex-grow: 0;
    position: relative;
    z-index: 2;
    margin-top: 1.5rem;
    margin-left: 613px !important;
}
.listRestaurantDiv_H1_left_sort_div_div_button
{
  
    position: relative !important;
    text-transform: none !important;
    cursor: pointer !important;
    text-align: center !important;
    -webkit-text-decoration: none !important;
    text-decoration: none !important;
    vertical-align: bottom !important;
    padding: 0.5rem 0.75rem !important;
    font-size: 0.8125rem !important;
    font-weight: 400 !important;
    font-family: RalewayX, arial, sans-serif !important;
    font-style: normal !important;
    line-height: 1.3846153846153846 !important;
    border-radius: 0.375rem !important;
    color: hsl(218, 9%, 17%) !important;
    background-color: hsl(0, 0%, 100%) !important;
    box-shadow: 0 0 0 1px hsl(214, 9%, 85%) inset !important;
    display: flex !important;
    height: 2.25rem !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    border-radius: 9999px !important;
    border: 1px solid hsl(214, 9%, 85%) !important;
    box-shadow: none !important;
    background-color: hsl(0, 0%, 100%) !important;
    color: hsl(218, 9%, 17%) !important;
    margin-left: auto !important;
    
}
.listRestaurantDiv_H1_left_sort_div_div_button_iconDiv
{
    display: flex;
    margin-right: 0.25rem;
}
.listRestaurantDiv_H1_left_sort_div_div_button_iconDiv_icon
{
    width: 16px !important;
    height: 16px !important;
}
.listRestaurantDiv_H1_left_sort_div_div_button_iconDiv2
{
    display: flex;
    margin-left: 0.25rem;
}
.listRestaurantDiv_H1_left_sort_div_div_dropdown
{
    list-style-type: none;
    display: flex;
  
    position: absolute;
    left: -268px;
    right: 140px;
    bottom: -369px;
    flex-direction: column;
    width: 375px;
    height: fit-content;
    margin-right: -200px;
    border-radius:4px;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) -0.0625rem 0.1875rem 0.375rem;
    border: 1px solid rgb(236, 237, 239);
}
.listRestaurantDiv_H1_left_sort_div_div_dropdown_title
{
  
    position: relative;
    padding-bottom: 1rem;
}
.listRestaurantDiv_H1_left_sort_div_div_dropdown_title_name
{
    
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;

}
.listRestaurantDiv_H1_left_sort_div_div_dropdown_title ::after
{
    content: "";
    position: absolute;
    bottom: -10px;
    left: -1rem;
    right: -1rem;
    height: 1px;
    background-color: rgb(236, 237, 239);
}
.listRestaurantDiv_H1_left_sort_div_div_dropdown_title_name h3
{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375;
    margin: 0px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
}
.listRestaurantDiv_H1_left_sort_div_div_dropdown_title_name_button
{
    border: 0px !important;
    text-transform: uppercase !important;
    cursor: pointer !important;
    text-align: center !important;
    text-decoration: none !important;
    vertical-align: bottom !important;
    border-radius: 0.125rem !important;
    font-size: 0.8125rem !important;
    font-weight: 400 !important;
    font-style: normal !important;
    padding: 0px 0.125rem !important;
    min-width: 2rem !important;
    height: 2rem !important;
    line-height: 2rem !important;
    color: rgb(0, 102, 92) !important;
    background-color: transparent !important;
    box-shadow: none !important;
    display: flex !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
    position: absolute !important;
    left: 0px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    
}
.listRestaurantDiv_H1_left_sort_div_div_dropdown_title_name_button
{
    fill: currentcolor !important;
    vertical-align: text-bottom !important;
    font-size: 1rem !important;
    color: rgb(0, 0, 0) !important;
    width: 19px !important;
    height: 19px !important;
}
.listRestaurantDiv_H1_left_sort_div_div_dropdown_list{
    list-style-type: none;
    display: flex;
    overflow: auto;
    flex-direction: column;
}
/* .listRestaurantDiv_H1_left_sort_div_div_dropdown_list
{
    list-style-type: none;
    display: flex;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    flex-direction: column;
    max-width: 100%;
    height: 25rem;
    border-radius: 1rem 1rem 0px 0px;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.12) -0.0625rem 0.1875rem 0.375rem;
    border: 1px solid rgb(236, 237, 239);
    /* width: 100% !important; */
.listRestaurantDiv_H1_left_sort_div_div_dropdown_list_div
{
    position: relative;
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.listRestaurantDiv_H1_left_sort_div_div_dropdown_list_div ::before
{
    z-index: 1;
    top: 0px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.01) 0px, rgb(255, 255, 255) 100%);
    opacity: 0;
    height: 0px;
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    pointer-events: none;
    transition: height 500ms, opacity 500ms;
}
.listRestaurantDiv_H1_left_sort_div_div_dropdown_list_div::after
{
    bottom: 0px;
    background: linear-gradient(rgba(255, 255, 255, 0.01) 0px, rgb(255, 255, 255) 100%);
    opacity: 0;
    height: 0px;
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    pointer-events: none;
    transition: height 500ms, opacity 500ms;
}
.listRestaurantDiv_H1_left_sort_div_div_dropdown_list_div_H1
{
    overflow: auto;
    position: relative;
    width: 100%;
}