button.search-btn {
  border-radius: 0.4rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(174, 100%, 20%);
  box-shadow: none;
  font-style: normal;
  padding: 8px 12px;
  font-weight: 400;
  transition: background-color ease 62.5ms, box-shadow ease 62.5ms;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.375;
  border: 1px solid hsl(174, 100%, 20%);
  width: 108px;
  margin-left: 12px;
  height: 38px;
  /* margin-right: 5px; */
  z-index: 20 ;
 
}

button.search-btn:hover {
  background-color: #144d46 !important;

}

.InputSearch2Div
{
  display: flex;
  flex-direction: row;
  z-index: 20;
  background-color: white;
  border-radius: 0.4rem;
}