.DetailBoxDiv {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  margin: auto;
  max-width: 66rem;
  display: grid;
  grid-column-gap: 2.5rem;
  grid-template-columns: 1fr 1fr 24rem;
  grid-template-areas:
    "info info booking"
    "details details booking";
}

.DetailBoxDiv_h1 {
  grid-area: details;
}
