.container {
    background-color: #000;
    color: #fff;
    padding-top: 32px;
}

.content-list {
    display: flex;
    list-style-type:none ;
    justify-content: center;
    align-items: start;
    padding: 0 32px;

}

.content-item {
    flex:1;
    padding: 16px;
}

.content-title {
    font-size: 20px;
}

.content-description, .sub-content__item {
    font-weight: 200;
}

.sub-content__item {
    padding: 4px;
    display: flex;
    gap: 4px;
}

.content-item--about {
    flex:2;
}

.footer-body {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
    font-weight:200;
    padding: 12px 32px;
}

.copyright {
    margin-top: 32px;
    text-align: center;
}