.container {
    background-color: white;
    min-height: 130px;
    width: 400px;
    border: 1px solid rgb(28,69,28);
}

.comment-header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px;
}

.user-name {
    margin: 0;
}

.time {
    margin: 0;
}

.container {
    border-radius: 12px;
}

.comment-body {
    padding: 16px;
}